@charset "UTF-8";

.top_bar_2_png {
  background-image: url("images/top_bar_2.png");
  position: absolute;
  left: 0px;
  top: 56px;
  width: 1200px;
  height: 89px;
  z-index: 164;
}

.icons_png {
  background-image: url(images/icons.png);
  position: absolute;
  left: 950px;
  top: 10px;
  width: 99px;
  height: 23px;
  z-index: 161;
}


p12
{
  font-size: 20px;
  font-family: "Rockwell", serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  position: absolute;
  left: 60px;
  top: 88px;
  z-index: 166;
}

p12 a{
	color:#FFFFFF;
	text-decoration: none;
}

p12 a:hover{
	color: #3B1B09;
}
p13 
{
  font-size: 20px;
  font-family: "Rockwell";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.25;
  position: absolute;
 	left: 240px;
  top: 88px;
  z-index: 166;
	
 
}
p13 a{
	color:#FFFFFF;
	text-decoration: none;
}

p13 a:hover{
	color: #3B1B09;
}

p14
{
  font-size: 20px;
  font-family: "Rockwell";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.25;
  position: absolute;
  left: 769px;
  top: 88px;
  width: 90px;
  height: 15px;
  z-index: 166;
}
p14 a{
	color:#FFFFFF;
	text-decoration: none;
}

p14 a:hover{
	color: #3B1B09;
}
p15
{
  font-size: 20px;
  font-family: "Rockwell";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.25;
  position: absolute;
  left: 1000px;
  top: 88px;
  width: 90px;
  height: 15px;
  z-index: 167;
}
p15 a{
	color:#FFFFFF;
	text-decoration: none;
}

p15 a:hover{
	color: #3B1B09;
}

.sign {
  background-image: url("images/sign.jpg");
  position: absolute;
  left: 120px;
  top: 325px;
  width: 530px;
  height: 507px;
  z-index: 10;
}

p2 {
  font-size: 16px;
  font-family: "Rockwell";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  position: absolute;
  left: 666.937px;
  top: 320.546px;
  width: 408px;
  height: 147px;
  z-index: 4;
}

p3  {
  font-size: 16px;
  font-family: "Rockwell";
  color: rgb(0, 0, 0);
  line-height: 1.2;
	font-style: normal;
  position: absolute;
  left: 668.162px;
  top: 520.546px;
  width: 403px;
  height: 150px;
  z-index: 6;
}



.fresh_muffins {
  
  background-image: url("images/fresh_muffins.jpg");
  position: absolute;
  left: 120px;
  top: 833px;
  width: 950px;
  height: 342px;
  z-index: 7;
}


.Shape_7_copy {
  background-color: rgb(23, 154, 153);
  position: absolute;
  left: 230px;
  top: 1554px;
  width: 747px;
  height: 7px;
  z-index: 8;
}

p40
{
  font-size: 35px;
  font-family: "Rockwell";
  color: rgb(101, 71, 55);
  font-weight: bold;
  line-height: 0.926;
  text-align: left;
  position: absolute;
  left: 510px;
  top: 202px;
  width: 170px;
  height: 20px;
  z-index: 9;
}

.last_image
 {
  background-image: url("images/last_image.jpg");
  position: absolute;
  left: 120px;
  top: 1176px;
  width: 950px;
  height: 553px;
  z-index: 11;
}



